# .env.example file
# This file provides examples of environment variables needed for the project.
# For actual use, you will need to copy this file to create an .env file and enter the actual values.

# Langsmith Project Tracking
# LangSmith is a tool for monitoring and debugging 
LANGSMITH_PROJECT=act...  # Project name to be used by LangSmith.
LANGSMITH_API_KEY=lsv2...  # LangSmith API key (must be replaced with real key)

# Depending on the configuration you choose, you will need the following environment variables.

## LLM API Keys:
# OpenAI API Key - required to use the GPT model.
# You can get it from the OpenAI website (https://platform.openai.com/).
OPENAI_API_KEY=sk...

# Others...
